:root {
  --green: #05d405;
}

*,
*::after,
*::before {
  padding: 0px;
  margin: 0px;
  font-family: inherit;
}

html, body {
  height: 100vh;
}

body {
  font-family: monospace;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  margin-top: 1rem;
}

span {
  font-size: 3rem;
  background-color: var(--green);
  padding: 2px 12px;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 4px;
  color: white;
}

button {
  font-size: 3rem;
  cursor: pointer;
  background-color: transparent;
  border: 0px;
}

button:hover { 
  transform: scale(1.2);
}